/* navbar */
 .bg-custom-1 {
   background-color: #484848;
 }

 /* footer */
 .bg-custom-2 {
   background-color: #CA9C3E;
 }

 /* text */
 .text-custom-1 {
   color: #484848
 }

/* links */
a {
  color: #484848;
}

a:hover {
  color: #CA9C3E;
  text-decoration: none;
}
